<!DOCTYPE html>
<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Calendar</title>
	<link rel='stylesheet' type='text/css' href='../static/reset.css' />
	<link rel='stylesheet' type='text/css' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/start/jquery-ui.css' />
	<link rel='stylesheet' type='text/css' href='../static/jquery.weekcalendar.css' />
	<link rel='stylesheet' type='text/css' href='../static/demo.css' />
	
	<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'></script>
	<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js'></script>
	<script type='text/javascript' src='../static/jquery.weekcalendar.js'></script>
	<!--<script type='text/javascript' src='../static/demo.js'></script>-->

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- jQuery library -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> -->

	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<span class="navbar-header"><a class="navbar-brand" href="#">TV Time</a></span>
		
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
		  	<div id="navbar1" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<!--<li><a href="/">Home</a></li>-->
					<li><a href="logout">Logout</a></li>
					<!-- <li><a href="signup.html">Sign Up</a></li> -->
					<li class="active"><a href="calendar">Calendar</a></li>
					<!-- <li><a href="questionaire.html">Questionaire</a></li> -->
					<li><a href="importcalendar">Import Calendar</a></li> 
				</ul>
			</div>
		</div>
	</nav>
	<div align="center"><h2>Recomendations</h2></div>
		<form method="POST" name="recommendTime" align="center">
			When are you free today? 
			<select name="timeFrom" style="width: 100px; height: 26px">
				<option>00:00</option>
				<option>00:30</option>
				<option>01:00</option>
				<option>01:30</option>
				<option>02:00</option>
				<option>02:30</option>
				<option>03:00</option>
				<option>03:30</option>
				<option>04:00</option>
				<option>04:30</option>
				<option>05:00</option>
				<option>05:30</option>
				<option>06:00</option>
				<option>06:30</option>
				<option>07:00</option>
				<option>07:30</option>
				<option>08:00</option>
				<option>08:30</option>
				<option>09:00</option>
				<option>09:30</option>
				<option>10:00</option>
				<option>10:30</option>
				<option>11:00</option>
				<option>11:30</option>
				<option>12:00</option>
				<option>12:30</option>
				<option>13:00</option>
				<option>13:30</option>
				<option>14:00</option>
				<option>14:30</option>
				<option>15:00</option>
				<option>15:30</option>
				<option>16:00</option>
				<option>16:30</option>
				<option>17:00</option>
				<option>17:30</option>
				<option>18:00</option>
				<option>18:30</option>
				<option>19:00</option>
				<option>19:30</option>
				<option>20:00</option>
				<option>20:30</option>
				<option>21:00</option>
				<option>21:30</option>
				<option>22:00</option>
				<option>22:30</option>
				<option>23:00</option>
				<option>23:30</option>
			</select>
			to 
			<select name="timeTo" style="width: 100px; height: 26px">
				<option>00:00</option>
				<option>00:30</option>
				<option>01:00</option>
				<option>01:30</option>
				<option>02:00</option>
				<option>02:30</option>
				<option>03:00</option>
				<option>03:30</option>
				<option>04:00</option>
				<option>04:30</option>
				<option>05:00</option>
				<option>05:30</option>
				<option>06:00</option>
				<option>06:30</option>
				<option>07:00</option>
				<option>07:30</option>
				<option>08:00</option>
				<option>08:30</option>
				<option>09:00</option>
				<option>09:30</option>
				<option>10:00</option>
				<option>10:30</option>
				<option>11:00</option>
				<option>11:30</option>
				<option>12:00</option>
				<option>12:30</option>
				<option>13:00</option>
				<option>13:30</option>
				<option>14:00</option>
				<option>14:30</option>
				<option>15:00</option>
				<option>15:30</option>
				<option>16:00</option>
				<option>16:30</option>
				<option>17:00</option>
				<option>17:30</option>
				<option>18:00</option>
				<option>18:30</option>
				<option>19:00</option>
				<option>19:30</option>
				<option>20:00</option>
				<option>20:30</option>
				<option>21:00</option>
				<option>21:30</option>
				<option>22:00</option>
				<option>22:30</option>
				<option>23:00</option>
				<option>23:30</option>
			</select>
			<input name="Enter" type="submit" value="Enter"> </input>
		</form>
		<p>{% block content %}
		<ul class="list">       
		  {% for item in shows %}
			<img alt="fantasy game of thrones" height="150" src="{{item.split(';')[0]}}" width="150">
			<li>
				{{ item.split(';')[1] }}
			</li>
		  {% endfor %}
		</ul>
		{% endblock content %}</p>
		<br>
		<br>

</body>

</html>
