<!DOCTYPE html>
<html>

<head>
<meta content="en-us" http-equiv="Content-Language">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Login</title>
<style type="text/css">
.auto-style1 {
	margin-top: 0px;
}
.auto-style2 {
	margin-left: 0px;
	margin-top: 0px;
}
.auto-style3 {
	margin-top: 0px;
	text-align: right;
}
.auto-style4 {
	text-align: center;
}
.auto-style5 {
	margin-top: 0px;
	text-align: center;
}
</style>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<span class="navbar-header"><a class="navbar-brand" href="#">TV Time</a></span>
			<!--<span class="navbar-header"><a class="navbar-brand" href="#"><img src="../images/logo.png" alt="TV Time logo" style="width:40px;height:45px;"></a></span>-->
			<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
			  <span class="sr-only">Toggle navigation</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
			</div>
		  	<div id="navbar1" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li class="active"><a href="login">Login</a></li>
					<li><a href="signup">Sign Up</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div align="center">
		<p class="auto-style5">Login to your TVtime account</p>
		<p class="auto-style4">Username:&nbsp;&nbsp;&nbsp;
		<input class="auto-style1" name="Username1" style="width: 178px" type="text"></p>
		<p class="auto-style4">Password:&nbsp;&nbsp;&nbsp;
		<input class="auto-style2" name="Password1" style="width: 182px" type="password">
		</p>
		<form method="post">
			<div class="auto-style4">
			<input name="button" type="button" value="Enter"></div>
		</form>

	</div>
	
</div>
</body>

</html>
