<!DOCTYPE html>
<html>

<head>
<meta content="en-us" http-equiv="Content-Language">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Questionaire</title>

<link href="../static/styles.css" rel="stylesheet" type="text/css" media="screen">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<span class="navbar-header"><a class="navbar-brand" href="#">TV Time</a></span>
			<!--<span class="navbar-header"><a class="navbar-brand" href="#"><img src="../static/logo.png" alt="TV Time logo" style="width:40px;height:45px;"></a></span>-->
			<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
			  <span class="sr-only">Toggle navigation</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
			</div>
		  	<div id="navbar1" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<!-- <li><a href="index.html">Home</a></li> -->
					<!-- <li><a href="login2.html">Login</a></li> -->
					<!-- <li><a href="signup.html">Sign Up</a></li> -->
					<!-- <li><a href="calendar.html">Calendar</a></li> -->
					<!-- <li class="active"><a href="questionaire">Questionaire</a></li> -->
					<!-- <li><a href="importcalendar">Import Calendar</a></li> -->
				</ul>
			</div>
		</div>
	</nav>
	<div align="center">
	
		<h2>What shows would you tune in to?</h2>
		<form method="POST" name="questionaire">
			<div class="gallery">
				<div class="item">
					<figure>
						<img alt="the flash action" height="150" src="../static/action.jpg" width="150">
						<figcaption>Action</figcaption>
						<figcaption>
							<table>
								<tr>
									<td>
										<div class="dislikeBox">
											<input name="Checkbox16" type="checkbox" id="dislike1"><label for="dislike1"></label>
										</div>
									</td>
									<td> 
									</td>
									<td>
										<div class="likeBox">
											<input name="Checkbox1" type="checkbox" id="like1"><label for="like1"></label>
										</div>
									</td>
								</tr>
							</table>	
						</figcaption>
					</figure>		
				</div>
				<div class="item">
					<figure>
						<img alt="adult animation family guy" height="150" src="../static/adultanimation.jpg" width="150">
						<figcaption>Adult Animation</figcaption>
						<figcaption>
							<table>
								<tr>
									<td>
										<div class="dislikeBox">
											<input name="Checkbox17" type="checkbox" id="dislike2"><label for="dislike2"></label>
										</div>
									</td>
									<td> 
									</td>
									<td>
										<div class="likeBox">
											<input name="Checkbox2" type="checkbox" id="like2"><label for="like2"></label>
										</div>
									</td>
								</tr>
							</table>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img alt="business fast money" height="150" src="../static/business.jpg" width="150">
						<figcaption>Business</figcaption>
						<figcaption>
							<table>
								<tr>
									<td>
										<div class="dislikeBox">
											<input name="Checkbox18" type="checkbox" id="dislike3"><label for="dislike3"></label>
										</div>
									</td>
									<td> 
									</td>
									<td>
										<div class="likeBox">
											<input name="Checkbox3" type="checkbox" id="like3"><label for="like3"></label>
										</div>
									</td>
								</tr>
							</table>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img alt="comedy big bang theory" height="150" src="../static/comedy.jpg" width="150">
						<figcaption>Comedy</figcaption>
						<figcaption>
							<table>
								<tr>
									<td>
										<div class="dislikeBox">
											<input name="Checkbox19" type="checkbox" id="dislike4"><label for="dislike4"></label>
										</div>
									</td>
									<td> 
									</td>
									<td>
										<div class="likeBox">
											<input name="Checkbox4" type="checkbox" id="like4"><label for="like4"></label>
										</div>
									</td>
								</tr>
							</table>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img alt="crime csi" height="150" src="../static/crime.jpg" width="150">
						<figcaption>Crime</figcaption>
						<figcaption>
							<table>
								<tr>
									<td>
										<div class="dislikeBox">
											<input name="Checkbox20" type="checkbox" id="dislike5"><label for="dislike5"></label>
										</div>
									</td>
									<td> 
									</td>
									<td>
										<div class="likeBox">
											<input name="Checkbox5" type="checkbox" id="like5"><label for="like5"></label>
										</div>
									</td>
								</tr>
							</table>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img alt="drama greys anatomy" height="150" src="../static/drama.jpg" width="150">
						<figcaption>Drama</figcaption>
						<figcaption>
							<table>
								<tr>
									<td>
										<div class="dislikeBox">
											<input name="Checkbox21" type="checkbox" id="dislike6"><label for="dislike6"></label>
										</div>
									</td>
									<td> 
									</td>
									<td>
										<div class="likeBox">
											<input name="Checkbox6" type="checkbox" id="like6"><label for="like6"></label>
										</div>
									</td>
								</tr>
							</table>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img alt="family modern family" height="150" src="../static/family.jpg" width="150">
						<figcaption>Family</figcaption>
						<figcaption>
							<table>
								<tr>
									<td>
										<div class="dislikeBox">
											<input name="Checkbox22" type="checkbox" id="dislike7"><label for="dislike7"></label>
										</div>
									</td>
									<td> 
									</td>
									<td>
										<div class="likeBox">
											<input name="Checkbox7" type="checkbox" id="like7"><label for="like7"></label>
										</div>
									</td>
								</tr>
							</table>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img alt="fantasy game of thrones" height="150" src="../static/fantasy.jpg" width="150">
						<figcaption>Fantasy</figcaption>
						<figcaption>
							<table>
								<tr>
									<td>
										<div class="dislikeBox">
											<input name="Checkbox23" type="checkbox" id="dislike8"><label for="dislike8"></label>
										</div>
									</td>
									<td> 
									</td>
									<td>
										<div class="likeBox">
											<input name="Checkbox8" type="checkbox" id="like8"><label for="like8"></label>
										</div>
									</td>
								</tr>
							</table>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img alt="horror american horror story" height="150" src="../static/horror.jpg" width="150">
						<figcaption>Horror</figcaption>
						<figcaption>
							<table>
								<tr>
									<td>
										<div class="dislikeBox">
											<input name="Checkbox24" type="checkbox" id="dislike9"><label for="dislike9"></label>
										</div>
									</td>
									<td> 
									</td>
									<td>
										<div class="likeBox">
											<input name="Checkbox9" type="checkbox" id="like9"><label for="like9"></label>
										</div>
									</td>
								</tr>
							</table>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img alt="spongebob kids animation" height="150" src="../static/kidsanimation.jpg" width="150">
						<figcaption>Kids Animation</figcaption>
						<figcaption>
							<table>
								<tr>
									<td>
										<div class="dislikeBox">
											<input name="Checkbox25" type="checkbox" id="dislike10"><label for="dislike10"></label>
										</div>
									</td>
									<td> 
									</td>
									<td>
										<div class="likeBox">
											<input name="Checkbox10" type="checkbox" id="like10"><label for="like10"></label>
										</div>
									</td>
								</tr>
							</table>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img alt="news dateline nbc" height="150" src="../static/news.jpg" width="150">
						<figcaption>News</figcaption>
						<figcaption>
							<table>
								<tr>
									<td>
										<div class="dislikeBox">
											<input name="Checkbox26" type="checkbox" id="dislike11"><label for="dislike11"></label>
										</div>
									</td>
									<td> 
									</td>
									<td>
										<div class="likeBox">
											<input name="Checkbox11" type="checkbox" id="like11"><label for="like11"></label>
										</div>
									</td>
								</tr>
							</table>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img alt="reality keeping up with the kardashians" height="150" src="../static/reality.jpg" width="150">
						<figcaption>Reality</figcaption>
						<figcaption>
							<table>
								<tr>
									<td>
										<div class="dislikeBox">
											<input name="Checkbox27" type="checkbox" id="dislike12"><label for="dislike12"></label>
										</div>
									</td>
									<td> 
									</td>
									<td>
										<div class="likeBox">
											<input name="Checkbox12" type="checkbox" id="like12"><label for="like12"></label>
										</div>
									</td>
								</tr>
							</table>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img alt="romance the bachelor" height="150" src="../static/romance.jpg" width="150">
						<figcaption>Romance</figcaption>
						<figcaption>
							<table>
								<tr>
									<td>
										<div class="dislikeBox">
											<input name="Checkbox28" type="checkbox" id="dislike13"><label for="dislike13"></label>
										</div>
									</td>
									<td> 
									</td>
									<td>
										<div class="likeBox">
											<input name="Checkbox13" type="checkbox" id="like13"><label for="like13"></label>
										</div>
									</td>
								</tr>
							</table>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img alt="sci-fi ghost busters" height="150" src="../static/scifi.jpg" width="150">
						<figcaption>Sci-Fi</figcaption>
						<figcaption>
							<table>
								<tr>
									<td>
										<div class="dislikeBox">
											<input name="Checkbox29" type="checkbox" id="dislike14"><label for="dislike14"></label>
										</div>
									</td>
									<td> 
									</td>
									<td>
										<div class="likeBox">
											<input name="Checkbox14" type="checkbox" id="like14"><label for="like14"></label>
										</div>
									</td>
								</tr>
							</table>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img alt="sports sports center" height="150" src="../static/sports.jpg" width="150">
						<figcaption>Sports</figcaption>
						<figcaption>
							<table>
								<tr>
									<td>
										<div class="dislikeBox">
											<input name="Checkbox30" type="checkbox" id="dislike15"><label for="dislike15"></label>
										</div>
									</td>
									<td> 
									</td>
									<td>
										<div class="likeBox">
											<input name="Checkbox15" type="checkbox" id="like15"><label for="like15"></label>
										</div>
									</td>
								</tr>
							</table>
					</figure>
				</div>
			</div>
			<input name="Enter" type="submit" value="Enter"> </input>
		</form>
		<br />
		<br />
		
</div>
</body>

</html>
