<!DOCTYPE html>
<html>

<head>
<meta content="en-us" http-equiv="Content-Language">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Questionaire</title>
<style type="text/css">

.gallery {
	width: 100%;
	overflow: hidden;

	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	
	align-items: center;
	justify-content: center;
	
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.item {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	margin: 1em;
	float: left;
	width: 15%;
	
}

.item img {
	max-width: 100%;
	dislay: block;	
}

.auto-style2 {
	text-align: right;
}
.auto-style3 {
	text-align: center;
}
</style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<span class="navbar-header"><a class="navbar-brand" href="#">TV Time</a></span>
			<!--<span class="navbar-header"><a class="navbar-brand" href="#"><img src="../static/logo.png" alt="TV Time logo" style="width:40px;height:45px;"></a></span>-->
			<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
			  <span class="sr-only">Toggle navigation</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
			</div>
		  	<div id="navbar1" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<!-- <li><a href="index.html">Home</a></li> -->
					<!-- <li><a href="login2.html">Login</a></li> -->
					<!-- <li><a href="signup.html">Sign Up</a></li> -->
					<!-- <li><a href="calendar.html">Calendar</a></li> -->
					<!-- <li class="active"><a href="questionaire">Questionaire</a></li> -->
					<!-- <li><a href="importcalendar">Import Calendar</a></li> -->
				</ul>
			</div>
		</div>
	</nav>
	<div align="center">
	
		<p>What shows would you tune in to?</p>
		<p>{{ message }}</p>
		<form method="POST" name="questionaire">
			<div class="gallery">
				<div class="item">
					<figure>
						<img alt="the flash action" height="150" src="../static/action.jpg" width="150">
						<figcaption>Action</figcaption>
						<figcaption><input name="Checkbox1" type="checkbox"></figcaption>
					</figure>		
				</div>
				<div class="item">
					<figure>
						<img alt="adult animation family guy" height="150" src="../static/adultanimation.jpg" width="150">
						<figcaption>Adult Animation</figcaption>
						<figcaption><input name="Checkbox2" type="checkbox"></figcaption>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img alt="business fast money" height="150" src="../static/business.jpg" width="150">
						<figcaption>Business</figcaption>
						<figcaption><input name="Checkbox3" type="checkbox"></figcaption>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img alt="comedy big bang theory" height="150" src="../static/comedy.jpg" width="150">
						<figcaption>Comedy</figcaption>
						<figcaption><input name="Checkbox4" type="checkbox"></figcaption>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img alt="crime csi" height="150" src="../static/crime.jpg" width="150">
						<figcaption>Crime</figcaption>
						<figcaption><input name="Checkbox5" type="checkbox"></figcaption>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img alt="drama greys anatomy" height="150" src="../static/drama.jpg" width="150">
						<figcaption>Drama</figcaption>
						<figcaption><input name="Checkbox6" type="checkbox"></figcaption>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img alt="family modern family" height="150" src="../static/family.jpg" width="150">
						<figcaption>Family</figcaption>
						<figcaption><input name="Checkbox7" type="checkbox"></figcaption>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img alt="fantasy game of thrones" height="150" src="../static/fantasy.jpg" width="150">
						<figcaption>Fantasy</figcaption>
						<figcaption><input name="Checkbox8" type="checkbox"></figcaption>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img alt="horror american horror story" height="150" src="../static/horror.jpg" width="150">
						<figcaption>Horror</figcaption>
						<figcaption><input name="Checkbox9" type="checkbox"></figcaption>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img alt="spongebob kids animation" height="150" src="../static/kidsanimation.jpg" width="150">
						<figcaption>Kids Animation</figcaption>
						<figcaption><input name="Checkbox10" type="checkbox"></figcaption>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img alt="news dateline nbc" height="150" src="../static/news.jpg" width="150">
						<figcaption>News</figcaption>
						<figcaption><input name="Checkbox11" type="checkbox"></figcaption>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img alt="reality keeping up with the kardashians" height="150" src="../static/reality.jpg" width="150">
						<figcaption>Reality</figcaption>
						<figcaption><input name="Checkbox12" type="checkbox"></figcaption>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img alt="romance the bachelor" height="150" src="../static/romance.jpg" width="150">
						<figcaption>Romance</figcaption>
						<figcaption><input name="Checkbox13" type="checkbox"></figcaption>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img alt="sci-fi ghost busters" height="150" src="../static/scifi.jpg" width="150">
						<figcaption>Sci-Fi</figcaption>
						<figcaption><input name="Checkbox14" type="checkbox"></figcaption>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img alt="sports sports center" height="150" src="../static/sports.jpg" width="150">
						<figcaption>Sports</figcaption>
						<figcaption><input name="Checkbox15" type="checkbox"></figcaption>
					</figure>
				</div>
			</div>
			<input name="Enter" type="submit" value="Enter"> </input>
		</form>
		<br />
		<br />
		
</div>
</body>

</html>
